body {
    background: url("../img/background-fruit.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.container {
    background: rgba(255,255,255,1);
    width: 600px;
    height: 800px;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container h2 {
    color: #000;
    text-align: center;
    margin: -20px 0px 0 0;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #000;
    color: #fff;
    padding: 20px;
}

.container a {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.container input {
    width: 300px;
    height: 30px;
    float: right;
    margin-right: 20px;

}

.container select {
    width: 300px;
    height: 30px;
    float: right;
    margin-right: 20px;
    border-radius: 7px;
}

.container textarea {
    width: 300px;
    height: 100px;
    float: right;
    margin-right: 20px;
    resize: none;
}
.container button {
    margin-top: 94px;
    width: 100%;
    height: 100px;
    background-color: rgba(255,255,255,0.8);
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.container button:hover {
    margin-top: 94px;
    width: 100%;
    height: 100px;
    border-radius: 7px;
    background-color: #ff6666;
    color: white;
    cursor: pointer;
}


/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
} 

